/* 版权归Zervan所有
网址:zervan.cn
邮箱:nickmechlin01@outlook.com
版本号v0.1.9 */

:root {
    /* 改变输入框的背景色 */
    --bg-color:  #000000;   
    /* 改变侧边工具栏的背景色 */
    --side-bar-bg-color: #000000;
    /* 文字颜色 */
    --text-color: #ffffff;
    /* 侧边栏文件边框线 */
    --window-border: 1px solid #00ffff;

    /* 侧边栏文本颜色 */
    --control-text-color: #ffffff;
    /* 侧边栏文本覆盖阴影 */
    --control-text-hover-color: #00ffff;

    /*文件树或文件列表中当前项的背景色*/
    --active-file-bg-color: rgb(34, 34, 34);   /* 被选中文件背景颜色*/
    --active-file-text-color: #00ffff;    /* 被选中文件文字颜色 */
    --active-file-border-color: #00ffff;    /* 被选中文件边栏颜色 */

    /* 被选中的文本背景 */
    --select-text-bg-color:#797979;
    /* --select-text-bg-color:#00ff2f; 之后要改成白背景黑色字体*/
    /* 搜索被选中后的文字背景 */
    --search-select-bg-color: #560066;

    /*鼠标悬停时控件项的背景，如侧边栏中的菜单*/
    --item-hover-bg-color: #00ffff; /* 侧边栏菜单的背景色 */
    --item-hover-text-color: rgb(0, 0, 0); /* 侧边栏菜单的文字颜色 */



    /* 未知 */
    /* 源代码模式后的颜色 */
    --md-char-color: #ff00ff; /*改变元字符的颜色，例如 markdown 中的图像文本和链接地址*/
    --meta-content-color: #ff0000; /*改变元内容的颜色，例如 markdown 中的“#”/
   
    /*主按钮的颜色*/
    --primary-color: #ff6308; 
    --primary-btn-border-color: #95ff00;
    --primary-btn-text-color: #fbff00;
    
    --rawblock-edit-panel-bd: #ff0000;

    --monospace: monospace; /*代码的等宽字体*/
}



html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #363B40;
    background: var(--bg-color);
    fill: currentColor;
    line-height: 1.625rem;
}

#write {
    max-width: 914px;
}


@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1024px;
	}
}

@media only screen and (min-width: 1800px) {
	#write {
		max-width: 1200px;
	}
}

html,
body,
button,
input,
select,
textarea,
div.code-tooltip-content {
    color: #b8bfc6;
    border-color: transparent;
}

div.code-tooltip,
.md-hover-tip .md-arrow:after {
    background: #333;
}

.native-window #md-notification {
    border: 1px solid #70717d;
}

.popover.bottom > .arrow:after {
    border-bottom-color: #333;
}
